# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local development
node_modules
dist
dist-ssr
*.local
release
/debug
/esm
/cjs
docs
downloads
cache
tmp
coverage
package-lock.json
yarn.lock
pnpm-lock.yaml
.husky/post-commit

# test files
*.m3u8
# /*(^.d).ts
/*.mp4
/client/*.html
/client/logo.png
/client/ariang/
/client/assets/
/client/local/cdn/
!/client/local/cdn/font-awesome/

.codegraph

eslintWhitelist.json
tsCheckWhiteList.json
.grs.config.js
