name: 'Tests'
on:
  workflow_dispatch:
  push:
    branches:
      - '**'
    paths-ignore:
      - README.md
      - CONTRIBUTING.md
      - preset
      - .vscode
      - test
      - .github/**
      - docker/**
      - client/**
  pull_request:
    branches:
      - '**'
jobs:
  test:
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.os != 'windows-latest' }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        node-version:
          - 22
        include:
          - node-version: 20
            os: ubuntu-latest
    name: Node ${{ matrix.node-version }} on ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: 'recursive'
      - uses: pnpm/action-setup@v4
        id: pnpm-install
        with:
          run_install: false
          version: 10
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: https://registry.npmjs.com

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT
      - uses: actions/cache@v4
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store

      - run: pnpm install --no-frozen-lockfile
      - run: pnpm test
