name: Release

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Release tag (e.g. v1.0.0)'
        required: true
        default: 'v1.3.0'
  push:
    tags:
      - v*.*.*

permissions:
  contents: write

env:
  GITHUB_CI: 1
  USE_HARD_LINKS: false

jobs:
  release:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
      fail-fast: false

    steps:
      - uses: actions/checkout@v5
        with:
          ref: main
          submodules: 'recursive'

      - uses: pnpm/action-setup@v4
        id: pnpm-install
        with:
          run_install: false
          version: 10

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'pnpm'
          registry-url: https://registry.npmjs.com

      - run: pnpm install --no-frozen-lockfile

      - name: Get release tag
        id: get-tag
        shell: bash
        run: |
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            echo "tag=${{ github.event.inputs.tag }}" >> $GITHUB_OUTPUT
          else
            echo "tag=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
          fi

      - name: Build cjs
        run: npm run build

      - name: Build Linux
        if: matrix.os == 'ubuntu-latest'
        run: |
          cd packages/m3u8dl-app
          pnpm install --no-frozen-lockfile
          npm run build -- --linux
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # RENDERER_VITE_AIHUBMIX_SECRET: ${{ vars.RENDERER_VITE_AIHUBMIX_SECRET }}
          NODE_OPTIONS: --max-old-space-size=8192

      - name: Build Mac
        if: matrix.os == 'macos-latest'
        run: |
          cd packages/m3u8dl-app
          pnpm install --no-frozen-lockfile
          npm run build -- --mac
        env:
          # CSC_LINK: ${{ secrets.CSC_LINK }}
          # CSC_KEY_PASSWORD: ${{ secrets.CSC_KEY_PASSWORD }}
          # APPLE_ID: ${{ vars.APPLE_ID }}
          # APPLE_APP_SPECIFIC_PASSWORD: ${{ vars.APPLE_APP_SPECIFIC_PASSWORD }}
          # APPLE_TEAM_ID: ${{ vars.APPLE_TEAM_ID }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_OPTIONS: --max-old-space-size=8192

      - name: Build Windows
        if: matrix.os == 'windows-latest'
        run: |
          cd packages/m3u8dl-app
          pnpm install --no-frozen-lockfile
          npm run build -- --win
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_OPTIONS: --max-old-space-size=8192

      - name: Release
        uses: ncipollo/release-action@v1
        with:
          draft: true
          allowUpdates: true
          makeLatest: false
          tag: ${{ steps.get-tag.outputs.tag }}
          artifacts: 'packages/m3u8dl-app/dist/app/*.exe,packages/m3u8dl-app/dist/app/*.zip,packages/m3u8dl-app/dist/app/*.7z,packages/m3u8dl-app/dist/app/*.dmg,packages/m3u8dl-app/dist/app/*.AppImage,packages/m3u8dl-app/dist/app/*.snap,packages/m3u8dl-app/dist/app/*.deb,packages/m3u8dl-app/dist/app/*.rpm,packages/m3u8dl-app/dist/app/*.tar.gz,packages/m3u8dl-app/dist/app/latest*.yml,packages/m3u8dl-app/dist/app/rc*.yml,packages/m3u8dl-app/dist/app/*.blockmap'
          # artifacts: 'packages/m3u8dl-app/dist/app/*.{exe,zip,dmg,AppImage,deb,rpm,tar.gz,snap,yml,tar.gz,blockmap},packages/m3u8dl-app/dist/app/{latest,rc}*.yml'
          token: ${{ secrets.GITHUB_TOKEN }}
